.charsheet{
    --background:#faf3d7;
    --section:#cfccb8; 
    --section-highlight:#a5a599;
    --foreground:#cd583c;
    --foreground-highlight:#ac4e34;
    --border:#3a3326;
    --blue:#26b7b4;
    
    --tough:#f6e584;
    --cool:#f4a678;
    --beauty:#abb4ad;
    --cute:#e6aba0;
    --smart:#b0c37c;
    
}

.sheet-rolltemplate-PMD .sheet-roll-container{
  width:233px;  
  color:black;
}
.sheet-rolltemplate-PMD .sheet-roll-container > .sheet-roll-row{
    background: #cfccb8;
    padding:2px 0;
    border:1px solid black;
    margin:2px 0;
}
.sheet-rolltemplate-PMD .sheet-roll-container > .sheet-roll-row:nth-child(1){
    background: #ac4e34;
}

.sheet-rolltemplate-PMD .sheet-roll-row > span{
    display:block;
    text-align:center;
}

.sheet-rolltemplate-PMD  .sheet-roll-container .sheet-roll-name{
    font-size:12pt;
    font-weight:bold;
    color:black;
}
.sheet-rolltemplate-PMD  .sheet-roll-container .sheet-roll-small{
    font-size:8pt;
    font-weight:bold;
}
.sheet-rolltemplate-PMD  .sheet-roll-container .sheet-roll-grey{
    color:whitesmoke;
}

.sheet-rolltemplate-PMD  .sheet-roll-type{
    font-size:8pt;
    font-weight:bold;
}

.sheet-rolltemplate-PMD  .sheet-roll-value{
    font-size:16pt;
    font-weight:bold;
}
.sheet-rolltemplate-PMD  .sheet-roll-pool{
    margin: 2px 0 0;
}

.sheet-rolltemplate-PMD .sheet-roll-value .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	padding: 5px 0px;
	border: 2px solid rgba(167, 168, 170,1);
}

.sheet-rolltemplate-PMD .sheet-roll-value .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-PMD .sheet-roll-value .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-PMD .sheet-roll-value .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

.sheet-rolltemplate-PMD .sheet-roll-description{
    padding:7px;
    text-align:left !important;
    white-space:pre-line;
}

.sheet-tab-list{

}
.sheet-tab-list .sheet-tab{
    position:relative;
    display: inline;
    padding: 5px 10px;
    margin: 0px 3px;
    border-radius:10px;
    background-color: beige;
    
}
.sheet-tab-list .sheet-tab label{
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.sheet-tab-list .sheet-tab input{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
}

.charsheet > .sheet-tab{
    display: none;
}

.sheet-tab-view[value="0"] ~ .sheet-tab-trainer-card,
.sheet-tab-view[value="1"] ~ .sheet-tab-trainer-skills,
.sheet-tab-view[value="0"] ~ .sheet-tab-pokemon-card,
.sheet-tab-view[value="1"] ~ .sheet-tab-pokemon-skills,
.sheet-tab-view[value="2"] ~ .sheet-tab-pokemon-social,
.sheet-tab-view[value="2"] ~ .sheet-tab-inventory,
.sheet-tab-view[value="3"] ~ .sheet-tab-moves,
.sheet-tab-view[value="4"] ~ .sheet-tab-settings{
    display: block;
}
/*
    Shared
*/

.sheet-custom-input{
    display:inline-block;
    position: relative;
    min-width: 20px;
    min-height: 28px;
    font-size:2rem;
}
.sheet-custom-input .sheet-input{
    display: inline-block;
    padding:1.4rem 5px 0px 20px;
    font-size:inherit;
    color: black;
    /* font-weight: bold; */
    border-radius: 1em;
}
.sheet-custom-input .sheet-label{
    position: absolute;
    top:0px;
    left:10px;
    font-size:14px;
    font-weight: bold;
    color:rgb(50,50,50);
    z-index: 5;
}

/*
    Trainer Card
*/
.sheet-tab-trainer-card{
    background-color: var(--section);
    min-height: 10em;
}
.sheet-tab-trainer-card .sheet-header
{
    background-color: var(--foreground);
    background-image: url("https://i.imgur.com/vpt9r2h.png");
    background-position:5px 5px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0 0 10px 10px;
    border:3px solid var(--foreground-highlight);
    border-width:  0 0 3px 0;
    min-height: 3em;
    padding-left: 50px;
}


.sheet-creature[value="0"] ~ .sheet-trainer-only,
.sheet-creature[value="1"] ~ .sheet-pokemon-only{
    display: none;
}
